---
import Layout from "../layouts/Home.astro";
import Strikethrough from "../components/Strikethrough.astro";
import Link from "../components/Link.astro";
---

<Layout>
	<p>
		Occupation by day: studying Computer Science at Faculty of Sciences,
		University of Novi Sad, Serbia; research interests are complex network
		analysis, graphs and machine learning; teaching associate
	</p>

	<p>
		Occupation by night: Linux system administration, network administration,
		home lab administrator, Linux nerd, container technologies, web technologies
	</p>

	<p>
		Social media:
		<Link href="https://fosstodon.org/@dusan">Mastodon</Link>,
		<Link href="https://twitter.com/dsnsmc">Twitter</Link><br />
		Repositories:
		<Link href="https://github.com/dusansimic">GitHub</Link>,
		<Link href="https://gitlab.com/dusansimic">GitLab</Link><br />
		Contact:
		<Link href="mailto:dusan.simic1810@gmail.com">
			dusan.simic1810@gmail.com
		</Link>,
		<Link href="https://matrix.to/#/@dsnsmc:matrix.org">
			@dsnsmc:matrix.org
		</Link>
	</p>

	<p>Stuff I <Link href="/uses">use</Link>.</p>

	<h3>💼 Experience</h3>

	<p>
		<strong>Teaching associate</strong> at <strong
			>Chair of Computer Science, Faculty of Sciences, University of Novi Sad</strong
		> since <strong>October 2022</strong>
		<ul>
			<li>Data Structures and Algorithms 2 (IT202)</li>
			<li>System Programming (IT302)</li>
			<li>Computer Organisation (IT616)</li>
		</ul>
	</p>
	<p>
		<strong>App for maths education</strong> for <strong
			>AlumNode sponsored academic research project</strong
		> from <strong>February 2022</strong> to <strong>May 2022</strong>
		<ul>
			<li>
				Worked in a team of university professors from fields of mathematics,
				phsichology and pedagogy
			</li>
			<li>Mobile app design and development in Flutter</li>
		</ul>
	</p>
	<p>
		<b>Freelance web development</b> from <b>June 2021</b> to <b>April 2022</b>
		<ul>
			<li>PHP 7 website development and maintenance</li>
			<li>React.js with TypeScript web app development</li>
		</ul>
	</p>
	<p>
		<b>Volunteer</b> at <b>Maker Fest</b> from <b>2017</b> to <b>2019</b>
		<ul>
			<li>Organization and coordination of lectures and workshops</li>
			<li>Hardware and software presentations</li>
			<li>Lecture on "AI on the Edge"</li>
		</ul>
	</p>
	<p>
		<b>Member</b> of <b>Civic assoication Maker</b> since <b>Spetember 2016</b>
		<ul>
			<li>
				Working with a team of industry experts, university professors and
				highschool teachers
			</li>
			<li>Workshop, meetup and festival organization and coordination</li>
			<li>Design and development LoRa network projects</li>
			<li>Full-stack applications in Go, Node.js, React.js and Vue.js</li>
			<li>System administration with Linux, Docker, Ansible and SELinux</li>
		</ul>
	</p>

	<h3>👨🏻‍💻 Code</h3>

	<p>
		<ul>
			<li>
				<Link href="https://github.com/dusansimic/dynamic-wallpaper">
					Dynamic Wallpaper
				</Link>, a dynamic wallpaper creater for Gnome 42
			</li>
			<li>
				<Link href="https://github.com/sindresorhus/caprine">Caprine</Link>, an
				unofficial Faceebook Messenger desktop client
			</li>
			<li>
				<Strikethrough>
					<Link href="https://aur.archlinux.org/packages?SeB=m&K=dusansimic">
						AUR packages
					</Link>, packages submitted by users for Arch Linux
				</Strikethrough> I don't use Arch any more on my main machines so I don't
				really maintain them.
			</li>
			<li>
				<Link href="https://copr.fedorainfracloud.org/coprs/dusansimic/">
					COPR packages
				</Link>, packages submitted by users for Fedora
			</li>
		</ul>
	</p>
</Layout>
