---
import { format, parseISO } from "date-fns";
import Empty from "../layouts/Empty.astro";
import { Frontmatter } from "../layouts/Post.astro";
import { inverse, spaceship } from "../util/sorting";

const posts = await Astro.glob<Frontmatter>("./post/*.md");
---

<Empty title="Dušan's Blog">
	<h2>Posts</h2>
	<div class="space-y-4">
		{
			posts.sort(inverse(spaceship)).map(async (post) => (
				<article class="not-prose">
					<h3 class="flex gap-2">
						<a
							href={post.url}
							class="text-xl text-slate-900 font-bold hover:underline"
							transition:name=`${post.url}-title`
						>
							{post.frontmatter.title}
						</a>
						<time transition:name=`${post.url}-time`>{format(parseISO(post.frontmatter.date), "d. MMMM y.")}</time>
					</h3>
					<p>{post.frontmatter.description}</p>
				</article>
			))
		}
	</div>
</Empty>
