---
import Empty from "../layouts/Empty.astro";
---

<Empty title="Uses - Dušan Simić">
  <h2>Uses</h2>
  <h3>Devices</h3>
  <ul>
    <li>Desktops:</li>
    <ul>
      <li>
        AMD Ryzen 5 2600, 16GB DDR4 RAM, 256GB SSD, 1TB HDD, Keychron K2,
        Logitech ERGO M575
      </li>
      <li>
        Mac mini, M2 (8-core CPU, 10-core GPU, 16-core NE), 8GB unified memory,
        256GB SSD
      </li>
    </ul>
    <li>Laptops:</li>
    <ul>
      <li>ThinkPad X13 Gen 4, Ryzen 5 PRO 7540U, 32GB DDR4 RAM, 1TB SSD</li>
      <li>ThinkPad T450, i5-5200u, 8GB DDR3 RAM, 256GB SSD</li>
    </ul>
    <li>Mobile: iPhone 13 mini Green</li>
  </ul>
  <h3>Software</h3>
  <ul>
    <li>
      OS: Fedora Silverblue (<a href="https://universal-blue.org/">U-Blue</a>),
      Rocky Linux 9
    </li>
    <li>DE: GNOME (vanilla)</li>
    <li>
      Shell: Fish (<a href="https://github.com/dusansimic/theme-nai">theme</a>)
    </li>
    <li>Editor: VSCode, Vim, GNOME Text Editor</li>
    <li>Terminal: GNOME Console</li>
    <li>Browser: Firefox, Google Chrome</li>
    <li>Email: Thunderbird</li>
  </ul>
  <h3>Programming</h3>
  <ul>
    <li>Backend: Go, Node.js (TypeScript) and Next.js</li>
    <li>Frontend: React (TypeScript), Next.js</li>
    <li>Database: PostgreSQL mostly</li>
    <li>Desktop: GTK4 (with libadwaita), Electron (TypeScript)</li>
    <li>DevOps: Docker, Podman, Ansible</li>
    <li>Scripting: Fish, Bash/POSIX, Python</li>
  </ul>
  <h3>Self-hosting</h3>
  <ul>
    <li>OS:</li>
    <ul>
      <li>ProxMox for hypervisor</li>
      <li>Rocky Linux 9</li>
      <li>Ubuntu 22.04 LTS</li>
    </ul>
    <li>
      Administration: Podman containers managed with systemd and deployed with
      Ansible
    </li>
    <li>Services: Miniflux, Vaultwarden, Uptime Kuma, Wireguard VPN</li>
    <li>Reverse proxy: Caddy v2</li>
  </ul>
</Empty>
