<footer class="text-center py-8">
	Text is <a href="https://creativecommons.org/licenses/by-sa/4.0/"
		>CC BY-SA 4.0</a
	> & code is <a href="https://opensource.org/licenses/MIT">MIT</a><br />
</footer>
