---
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{title}</title>
	<script
		async
		defer
		data-domain="dusansimic.me"
		src="https://analytics.dusansimic.me/js/plausible.js"></script>
	<link rel="me" href="https://fosstodon.org/@dusan" />
	<ViewTransitions />
</head>
