<header class="pt-8 flex flex-col sm:flex-row justify-between items-center">
	<div class="not-prose">
		<h1 class="text-3xl text-slate-900 font-bold">Dušan Simić</h1>
	</div>
	<nav class="space-x-2">
		<a href="/">home</a>
		<a href="/posts">blog</a>
		<a href="/rss.xml">feed</a>
	</nav>
</header>
