---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

export interface Props {
	title: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">

<Head title={title} />

<body class="prose lg:prose-lg mx-4 sm:mx-auto">
	<Header />

	<main>
		<slot />
	</main>

	<Footer />
</body>

</html>