---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<Head title="Dušan Simić" />

	<body class="prose lg:prose-lg mx-4 sm:mx-auto">
		<Header />

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
