---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { format, parseISO } from "date-fns";

export interface Frontmatter {
	title: string;
	date: string;
	description?: string;
	keywords?: string[];
}

interface PostProps extends Frontmatter {
	astro: {
		headers: Array<{
			depth: number;
			text: string;
			slug: string;
		}>;
		source: string;
	};
	url: string;
	file: string;
}

const { title, date, url } = Astro.props.content as PostProps;
const dateString = format(parseISO(date), "d. MMMM y.");
---

<!doctype html>
<html lang="en">
	<Head title={title} />

	<body class="prose lg:prose-lg mx-4 sm:mx-auto">
		<Header />

		<main>
			<div
				class="not-prose flex flex-col sm:flex-row justify-between items-center mt-8"
			>
				<h2
					class="text-3xl text-center text-slate-900 font-bold"
					transition:name=`${url}-title`
				>
					{title}
				</h2>
				<time class="flex-none" transition:name=`${url}-time`>{dateString}</time
				>
			</div>
			<slot />
		</main>

		<Footer />
	</body>
</html>
